streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
python-dotenv
pypdf
sentence-transformers
langchain-huggingface
fastapi
uvicorn
python-multipart
pinecone-client
PyPDF2>=3.0.0
langchain-pinecone
